<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1">
        <p>
          I am Emre Kemal Yurderi, a passionate and results-driven Data
          Scientist with a proven track record in implementing machine learning
          and deep learning solutions to tackle complex challenges. With a
          robust academic foundation and hands-on experience, I specialize in
          turning data into actionable insights that drive innovation and
          optimize business outcomes.
        </p>
      </div>
      <div class="col-lg-5">
        <p>
          My academic path began with a Bachelor’s degree in Statistics,
          followed by a Master’s degree in Data Analytics and Machine Learning,
          and culminated in an Advanced Diploma in Artificial Intelligence from
          Centennial College, where I graduated with High Honours. Along the
          way, I’ve earned recognition for my work, including two prestigious
          awards for projects that combine cutting-edge AI techniques with
          real-world impact.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a
          href="https://github.com/jeromelachaud/freelancer-theme"
          class="btn btn-lg btn-outline"
        >
          <i class="fa fa-download"></i> Download My Resume
        </a>
      </div>
    </div>
  </div>
</section>
