<!-- Awards Section -->
<section class="success2" id="awards">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 style="color: #00bcd4;">Awards</h2>
        <hr class="star-primary" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h4>Publishing Outstanding Science Communication Award</h4>
        <p><strong>Project Name:</strong> Predicting The Stages of PDAC: Using Non-Invasive Method</p>
        <p><strong>Organization:</strong> 2023 STEM Fellowship’s International Inter-University Big Data Challenge</p>
        <p><strong>Project Description:</strong> Aimed at predicting the existence and stages of PDAC disease using non-invasive methods for early detection. The project analyzed a public dataset containing various biomarkers, achieving highly promising results with an accuracy of 87% for early detection and 70% for PDAC stage prediction.</p>
      </div>
      
      <div class="col-lg-6">
        <h4>ICET Department Winner</h4>
        <p><strong>Project Name:</strong> SignSpeak – A Real-time ASL Fingerspelling Translator</p>
        <p><strong>Organization:</strong> 12th Annual Centennial College Tech Fair</p>
        <p><strong>Project Description:</strong> Developed a real-time sign language translator for beginners in American Sign Language (ASL) using the Chicago Fingerspelling Dataset. Leveraged Google MediaPipe for hand landmark detection and explored an attention-based LSTM model to achieve high accuracy in varied environments. Deployed the model into a user-friendly web application to enhance communication and inclusivity for individuals with hearing disabilities.</p>
      </div>
    </div>
        <!--<a
          href="https://github.com/jeromelachaud/freelancer-theme"
          class="btn btn-lg btn-outline"
        >
          <i class="fa fa-download"></i> Download My Resume
        </a>-->
    </div>
  </div>
</section>
